<div class="chat-window">
  <div class="chat-window__header-container">
    <div class="chat-window__header">
      <span class="chat-window__header-text"> Osama Bhai </span>
      <input
        type="text"
        class="chat-window__header-input"
        placeholder="Add conversation title"
      />
    </div>
    <i class="chat-window__header-options-icon fa fa-ellipsis-v"></i>
    <div class="chat-window__header-user-icon-container">
      <img
        class="chat-window__header-user-icon"
        src="assets/icons/user.svg"
        alt="user"
      />
      <div class="chat-window__header-user-name">You</div>
    </div>
    <i class="chat-window__header-options-icon fa fa-star-o"></i>
    <i class="chat-window__header-options-icon fa fa-clock-o"></i>
    <i class="chat-window__header-options-icon fa fa-check"></i>
  </div>

  <div class="chat-window__box">
    <!-- <div class="chat-window__message">
      <div class="chat-window__message-profile-pic-wrapper">
        <img class="chat-window__message-profile-pic" src = 'assets/icons/user.svg' />

      </div>
      <div class="chat-window__message-text">
        lorem200
      </div>
    </div> -->

    <div class="chat-window__message">
      <div class="chat-window__message-profile-pic-wrapper">
        <img class="chat-window__message-profile-pic" src = 'assets/icons/user.svg' />

      </div>
      <div class="chat-window__message-text">
        lorem200
      </div>
    </div>

  </div>

  <div class="chat-window__send-message-wrapper">
    <div class="chat-window__send-message-area">
      <div class="chat-window__send-message-tab">
        <div class="chat-window__send-message-tab-text">
          Reply
        </div>
        <div class="chat-window__send-message-tab-text">
          Note
        </div>
      </div>

    </div>
  </div>

</div>
