<div class="chat-inbox">
  <div class="chat-inbox__header">
    You <i class="fa fa-caret-down chat-inbox__header-dropdown"></i>
  </div>
  <div class="chat-inbox__filter">
    <div class="chat-inbox__filter-inbox">
      <i class="chat-inbox__filter-inbox-icon fa fa-inbox"></i>
      Open 1
      <i class="fa fa-caret-down chat-inbox__header-dropdown"></i>
    </div>
    <div class="chat-inbox__filter-space"></div>
    <div class="chat-inbox__filter-options">
      Newest
      <i class="fa fa-caret-down chat-inbox__header-dropdown"></i>
    </div>
  </div>
  <ul class="chat-inbox__list">
    <li class="chat-inbox__list-item">
      <div class="chat-inbox__list-item-details">
        <img src="assets/icons/user2.svg" alt="user" class="chat-inbox__list-item-user-icon">
        <span class="chat-inbox__list-item-name">Osama Bhai</span>
        <span class="chat-inbox__list-item-space"></span>
        <span class="chat-inbox__list-item-date">3d</span>
      </div>
      <div class="chat-inbox__list-item-note-space"></div>
      <div class="chat-inbox__list-item-note">
        <img class = 'chat-inbox__list-item-current-user-icon' src = 'assets/icons/user.svg' alt = 'user'/>
        <div class="chat-inbox__list-item-note-bar"></div>
        <div class="chat-inbox__list-item-note-text">This is a note</div>
      </div>
    </li>
  </ul>
</div>
